                </div>
            </div>
        </div>
        <div class="footer container-fluid bg-light">
            <div class="row justify-content-center">
                Développement {{getCurrentYear}}
            </div>
        </div>
        <!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script> -->
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>